# Data Day 2019 Power Session

Title: Interactive mapping of social vulnerability caused by climate change using R
Authors: Richard Johansen & Mark Chalmers
University of Cincinnati Libraries
4/1/2019

 Social Vulnerability Data: http://artsandsciences.sc.edu/geog/hvri
 Code: https://github.com/RAJohansen/DataDay2019

## Part I: Introduction to R

In [ ]:
# Step 1: R as a Calculator
1 + 3

In [1]:
### Step 2: Creating objects in R
# Hint alt - is a shortcut for the < - 
x <- 1+2
x
y <- x +1
y

NameError: name 'x' is not defined

In [ ]:
### Step 3: Getting Help in R
help(mean)

In [ ]:
### Step 4: Viewing & Examinging a Data set
# Lets explore data using a data set thats contained in R
mtcars  <- mtcars

In [ ]:
# View our table
# Or click the df object under the data window
View(mtcars)

In [ ]:
# Use the names() function to return a list the variables 
names(mtcars)

In [ ]:
#Look at the data types or structure of the data
str(mtcars)
# This is very useful when we analyzing or visualizing data
# Make sure your variables are in the appropiate format!!

In [ ]:
## Quick and simple statistical summary of the data
summary(mtcars)

In [ ]:
# Finding values from out data table
# Lets look at column 2 
mtcars[,2]

In [ ]:
# Lets look at row 5
mtcars[5,]

In [ ]:
# What value is in row 5 column 3?
mtcars[5,3]

In [ ]:
# What if we want to know the max mpg
max(mtcars$mpg)